body {
    max-width: 720px;
    margin: 0 auto;
}

/* ν—¤λ” */
#header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    max-width: 720px;
    padding: 0px;
    height: 100px;
}
#header .header-left {
    width: auto;
    padding: 1%;
    float: left;
    }
#header .header-right {
    max-width: 5%;
    width: 6%;
    text-align:right;
    margin: 0 10px;
}
#header .header-left #logo {
    width: 27%;
}


/* ν‘Έν„° */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid lightgray;
    background-color: white;
}

#footer #icon-wrapper {
    margin: 4% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #icon-wrapper img {
    width: 6%;
}