<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mypage_style.css">
    <title>mypage</title>
</head>
<body>

<div id="main">
        <div id="header">
            <div class="header-left">
                <img id="logo" src="../static/img/insta-logo.png" />
            </div>
            <div class="header-right">
                <img src="../static/img/back@3x.png" />
            </div>
        </div>
<!--푸터-->
<div id="footer">
    <div id="icon-wrapper">
        <img src="../static/img/home@3x.png">
        <img src="../static/img/search@3x.png">
        <img src="../static/img/trending@3x.png">
        <img src="../static/img/like@3x.png">
        <img src="../static/img/user@3x.png">
    </div>
</div>
</body>
</html>